$color_main: #226383;
$color_border: #25ABEC;
$color_text: #111D23;
$color_light_text: #e0e8ff;
$color_dark_text: #1F4354;

/* Colors */
$blueDark: #1F4354;
$blueGray: #89b9d3;
$blueLight: #25ABEC;
$blueMedium: #2382B0;
$bluePrimary: #226383;
$blueSky: #aad7ed;
$grayLight: #a7c3d1;
$grayDark: #111D23;
$grayWhite: #e0e8ff;