// About

.about {
  @media screen and (width >= $device-md) {
    display: flex;
  }

  &__title {
    margin: 0;
    @media screen and (width >= $device-md) {
      margin: 50px 20px;
      line-height: 0.8em;
    }
    @media screen and (width >= $device-lg) {
      margin: 80px 40px;
    }
  }
  
  &__content {
    @media screen and (width >= $device-md) {
      margin: 50px 20px;
    }
    @media screen and (width >= $device-lg) {
      margin: 80px 40px;
    }
  }
}

.react-component {
  text-align: center;

  &__icon {
    color: $blueLight;
    font-size: 7em;
    @media screen and (width >= $device-md) {
      font-size: 9em;
    }
  }

  &__title {
    color: $blueLight;
    font-family: $fontTitle;
    letter-spacing: 3px;
    @media screen and (width >= $device-md) {
      font-size: 3em;
    }
  }

  &__content {
    color: $white;
    font-family: $fontContent;
    font-size: 1.25em;
    text-transform: uppercase;
    @media screen and (width >= $device-md) {
      font-size: 1.75em;
    }
  }
}