// Portfolio App

.app-container {
  position: relative;
  min-height: calc(100vh - 88px);
  padding-top: 70px;
  padding-bottom: 88px;

  &--theme-1 {
    background-color: $grayWhite;
  }

  &--theme-2 {
    background-color: $blueMedium;
  }

  &--theme-3 {
    background-color: $grayDark;
  }
}