// Contact

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
  transition: background-color 0.2s ease-in-out;
  @media screen and (width >= $device-md) {
    flex-direction: row;
  }
  @media screen and (width >= $device-lg) {
    padding: 0 40px;
  }
  @media screen and (width >= 1921px) {
    max-width: none;
  }
  &--theme-light {
    color: $lightBlack;
    background-color: $lightBright;

    .link:hover {
      color: $lightWhite;
    }
  }
  &--theme-dark {
    color: $darkWhite;
    background-color: $darkBright;

    .link:hover {
      color: $darkBlack;
    }
  }

  &__title {
    margin: 30px 0 5px;
    @media screen and (width >= $device-md) {
      margin-right: 20px;
      margin-bottom: 30px;
    }
    @media screen and (width >= $device-xl) {
      margin-right: 40px;
    }
  }
  &__link {
    margin: 5px 0 30px;
    font-size: 1.3em;
    @media screen and (width >= $device-sm) {
      font-size: 2em;
    }
    @media screen and (width >= $device-md) {
      margin-top: 30px;
      margin-left: 20px;
      font-size: 2.25em;
    }
    @media screen and (width >= $device-lg) {
      font-size: 3em;
    }
    @media screen and (width >= $device-xl) {
      margin-left: 40px;
    }
  }
}
