// Copyright

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.copyright {
  &__link {
    text-decoration: none;

    /* &--theme-1 {
      color: $grayDark;
    }

    &--theme-2 {
      color: $white;
    }

    &--theme-3 {
      color: $grayWhite;
    } */
  }
}