// Copyright

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.copyright {
  &__content {
    margin: 20px 0;
  }
  
  &__link {
    text-decoration: none;
  }
}