// Footer

.footer {
  margin: 0;
  transition: background-color 0.2s ease-in-out;
  &--theme-light {
    color: $lightWhite;
    background-color: $lightBlack;

    .link:hover {
      color: $lightBright;
    }
  }
  &--theme-dark {
    color: $darkBlack;
    background-color: $darkWhite;

    .link:hover {
      color: $darkBright;
    }
  }
}