// Footer

.footer {
  margin: 0;
  transition: background-color 0.2s ease-in-out;
  &--theme-light {
    color: $lightWhite;
    background-color: $lightBlack;

    .link:hover {
      color: $lightBright;
    }
  }
  &--theme-dark {
    color: $darkBlack;
    background-color: $darkWhite;

    .link:hover {
      color: $darkBright;
    }
  }

  &__icon {
      height: 40px;
      margin: 0.25em;
      font-size: 1.75em;
      @media screen and (width >= $device-sm) {
        font-size: 2em;
      }
      @media screen and (width >= $device-lg) {
        font-size: 3em;
      }

      &-container {
        display: flex;
        justify-content: center;
        margin: 20px auto;
      }
    }
}