// Header

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px 0;
  box-shadow: 0 0 15px black;
  transition: background-color 0.2s ease-in-out;

  &:after {
    content: "";
    position: relative;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 10px;
    background-color: black;
  }

  &--theme-1 {
    background: $blueBright;
  }

  &--theme-2 {
    background-color: $grayDark;
  }

  &--theme-3 {
    background-color: $blueLight;
  }

  &__button {
    margin: auto 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
    @media screen and (width >= $device-lg) {
      margin: auto 40px;
    }
  }

  &__icon {
    font-size: 2em;
    @media screen and (width >= $device-md) {
      font-size: 2.5em;
    }

    &--theme-1 {
      color: $grayDark;
    }

    &--theme-2 {
      color: $white;
    }

    &--theme-3 {
      color: $grayDark;
    }
  }
}