// Header

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px 0;
  box-shadow: 0 0 15px $black;
  transition: background-color 0.2s ease-in-out;
  &--theme-light {
    color: $lightBlack;
    background-color: $lightBright;

    .header__button:hover,
    .link:hover {
      @media only screen and (width > $device-md) {
       color: $lightWhite;
      }
    }
  }
  &--theme-dark {
    color: $darkWhite;
    background-color: $darkBright;

    .header__button:hover,
    .link:hover {
      @media only screen and (width > $device-md) {
        color: $darkBlack;
      }
    }
  }

  &__button {
    overflow: hidden;
    margin: auto 20px;
    color: inherit;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor:pointer;
    @media screen and (width >= $device-lg) {
      margin: auto 40px;
    }
  }

  &__icon {
    color: inherit;
    font-size: 1.6em;
    @media screen and (width >= 375px) {
      font-size: 2em;
    }
    @media screen and (width >= $device-md) {
      font-size: 2.5em;
    }
    &--theme-dark {
      transform: rotate(360deg);
    }
    &--desktop {
      transition: transform 0.2s ease-in-out;
    }
  }

  &__desktop-nav {
    margin: 0 40px 0 auto;
    display: flex;
    align-items: center;

    &-link {
      text-decoration: none;
      & + & {
        margin-left: 20px;
      }
    }
  }

  &__mobile-nav {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 35px);
    @media screen and (width >= 375px) {
      width: calc(100% - 44px);
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      &--hidden {
        opacity: 0;
        transform: scale(0.5, 0.5);
      }
      &--visible {
        opacity: 1;
      }
    }

    &-link {
      margin: auto 10px;
    }

    &-button {
      margin-left: 4px;
      transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
      &--visible {
        transform: rotate(225deg);
      }
    }
  }
}
