// Header

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px 0;
  box-shadow: 0 0 15px black;

  &:after {
    content: "";
    position: relative;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 10px;
    background-color: black;
  }

  &--theme-1 {
    background: $blueBright;
  }

  &--theme-2 {
    background-color: $grayDark;
  }

  &--theme-3 {
    background-color: $blueLight;
  }

  &__button {
    height: 50px;
    margin: 0 2em;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline: none;
  }

  &__icon {
    font-size: 2.5em;

    &--theme-1 {
      color: $grayDark;
    }

    &--theme-2 {
      color: $white;
    }

    &--theme-3 {
      color: $grayDark;
    }
  }
}