// Hero

.hero {
  padding-top: 3em;
  text-align: center;
  
  &__title {
    margin: 0;
    font-size: 6em;
  }

  &__content {
    margin: 0;
    color: $blueBright;
    font-family: $fontTagline;
    font-size: 5em;
    font-weight: 700;

    &--theme-1 {
      color: $blueBright;
    }

    &--theme-2 {
      color: $grayDark;
    }
    &--theme-3 {
      color: $blueLight;
    }
  }
}