// Portfolio

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (width >= $device-md) {
    justify-content: flex-start;
  }

  &__title {
    flex-basis: 100%;
    text-align: center;
  }

  &-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px 0;
    @media screen and (width >= $device-md) {
      flex-direction: row;
      max-width: none;
      margin: 40px 0;
    }
    @media screen and (width >= 1400px) {
      flex-basis: 45%;
      margin-right: auto;
    }

    &__link {
      width: 100%;
      height: auto;
      @media screen and (width >= $device-md) {
        width: 300px;
        height: 300px;
      }
    }

    &__image {
      border-radius: 3px;
      box-shadow: 0 1px 25px 2.5px $grayDark;
    }

    &__container {
      @media screen and (width >= $device-md) {
        margin: 0 40px;
      }
    }

    &__title {
      @media screen and (width >= $device-md) {
        margin-top: 0;
      }
    }

    &__content {
      font-size: 1.5em;
      @media screen and (width >= 1600px) {
        font-size: 1.75em;
      }
    }
  }
}