// Portfolio

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (width >= $device-md) {
    justify-content: flex-start;
  }

  &__title {
    flex-basis: 100%;
    text-align: center;
  }

  &-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    margin: 20px 0 60px;
    @media screen and (width >= $device-md) {
      flex-direction: row;
      align-items: flex-start;
      max-width: 1300px;
      margin: 40px auto;
    }
    @media screen and (width >= $device-lg) {
      flex-basis: 85%;
    }
    @media screen and (width >= $device-xl) {
      flex-basis: 75%;
    }
    &:nth-child(even) {
      .portfolio-item {
        &__container {
          @media screen and (width >= $device-md) { 
            margin-right: 0;
          }
        }
      }
    }
    &:nth-child(odd) {
      .portfolio-item {
        &__image {
          @media screen and (width >= $device-md) {
            order: 1;
          }
        }
        &__container {
          @media screen and (width >= $device-md) { 
            margin-left: 0;
          }
        }
      }
    }

    &__image {
      width: 280px;
      height: 280px;
      border-radius: 3px;
      transition: box-shadow 0.2s ease-in-out;
      @media screen and (width >= $device-sm) {
        width: 300px;
        height: 300px;
      }
      &--theme-light {
        box-shadow: 0 1px 25px 2.5px $lightBlack;
      }
      &--theme-dark {
        box-shadow: 0 1px 25px 2.5px $darkWhite;
      }
    }

    &__container {
      width: 100%;
      text-align: center;
      @media screen and (width >= $device-md) {
        width: calc(100% - 300px);
        text-align: left;
        margin: 0 40px;
      }
    }

    &__title {
      @media screen and (width >= $device-md) {
        margin-top: 0;
      }
    }

    &__content {
      min-height: 64px;
      font-size: 1.5em;
      @media screen and (width >= 1600px) {
        font-size: 1.75em;
      }
    }

    &__icon {
      height: 40px;
      margin-bottom: 0.5em;
      font-size: 1.75em;
      @media screen and (width >= $device-sm) {
        font-size: 2em;
      }
      @media screen and (width >= $device-lg) {
        font-size: 3em;
      }

      &-title {
        margin-right: 6px;
        & + & {
          margin-left: 6px;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      &-container {
        display: flex;
        justify-content: space-between;
        width: 280px;
        margin: 0 auto;
        @media screen and (width >= $device-sm) {
          width: 350px;
        }
        @media screen and (width >= $device-md) {
          margin: 0;
        }
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 50px;
      margin: 0 auto;
      border-radius: 4px;
      font-family: $fontTitle;
      font-size: 1.5em;
      text-decoration: none;
      @media screen and (width >= $device-md) {
        width: 150px;
        height: 60px;
        margin: 0;
        font-size: 1.8em;
      }
      &--theme-light {
        background-color: $lightBright;
        &:hover {
          background-color: $lightBlack;
        }
      }
      &--theme-dark {
        background-color: $darkBright;
          &:hover {
            background-color: $darkWhite;
          }
      }
      
      &-container {
        display: flex;
        justify-content: space-between;
        width: 280px;
        margin: 0 auto;
        @media screen and (width >= $device-sm) {
          width: 350px;
        }
        @media screen and (width >= $device-md) {
          margin: 0;
        }
      }
    }
  }
}