// Colors

// Light Theme
$lightBlack: #111d23;
$lightBright: #25abec;
$lightWhite: #e0e8ff;

// Dark Theme
$darkBlack: #2c2e33;
$darkBright: #2c68a1;
$darkWhite: #a7c3d1;

// Neutral
$black: #000000;
$white: #ffffff;
