.footer {
    width: 100%;
    color: white;
    background-color: #25ABEC;
    &-content {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
