// Global

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.button, .content, .heading, .icon, .link, .list {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button, .link {
  &:focus {
    outline: none;
  }
}

.link {
  color: inherit;
}